@model List<Article>

<a href="/admin/article/create" class="btn btn-dark">Create</a>

<table class="table table-dark table-hover table-striped table-bordered">
    <thead>
        <tr>
            <th>#</th>
            <th>Title</th>
            <th>Image</th>
            <th>Created By</th>
            <th>Created Date</th>
            <th>View Count</th>
            <th>Category</th>
            <th>Tags</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody></tbody>
    <tfoot>
        <tr>
            <th>#</th>
            <th>Title</th>
            <th>Image</th>
            <th>Created By</th>
            <th>Created Date</th>
            <th>View Count</th>
            <th>Category</th>
            <th>Tags</th>
            <th>Actions</th>
        </tr>
    </tfoot>
</table>
